{
    "slug": "/getting-started",
    "title": "Getting started with Espresso Site",
    "layout": "layout",
    "label": "Getting started",
    "position": 3
}

====
h1 Getting Started with Espresso Site
p Follow these 3 simple steps to install and run Espresso Site:
ol
    li Create a new NPM project with "npm init"
    li Install the Espresso Site NPM package (npm install espresso-site)
    li Then run "npm run espresso:serve"
p Now check out #[a(href="http://localhost:3000" target="_blank") http://localhost:3000] in your web browser

P More info coming soon!
