{
    "slug": "/",
    "title": "Welcome to Espresso Site",
    "layout": "home"
}

====
h1 Welcome to Espresso Site

p A little kickstart framework to rapidly create websites with NodeJS.

p Check out the #[a(href="/getting-started") Getting started] page to learn more.
